html,body{
	margin:0;
	padding:0;
	}

body{
	font: 76% arial,sans-serif;
	text-align:center;
	}

p{
	margin:0 10px 10px
	}

a{
	padding:5px; 
	text-decoration:none; 
	color:#000000;
	}

div#header{
	background-color:#45183F;
	}

div#header logo{
	position: left; 
	width:50px; 
	height: 50px;
	}

div#header h1{
	height:80px;
	line-height:80px;
	margin:0;
	padding-left:10px; 
	width:100%;
	}

div#container{
	text-align:left;
	}

div#info p{
	line-height:1.4;
	}

div#contact{
	background:#FFBF00;
	box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 1);
	}

div#contact ul li a {
   font-family: 'arial black';
  color: #000000 !important;
  font-size: 14px;
  text-shadow: 0px 0px 0px #4C1496;
  box-shadow: 0px 0px 0px #000000;
  padding: 10px 13px;
  border-radius: 0px;
  border: 0px solid #FFBF00;
  background: #FFBF00;
  
}
div#contact ul li a:hover {
   color: #FFFFFF !important;
  background: #FFBF00;
}
div#contact ul {
    list-style: none;	
}
div#contact li+li{
  margin-top: 15px;
}

div#info{
	background:#CCC8B3;
	}

div#footer{
	background:#45183F; 
	width:100%; 
	height:80px;}

div#footer p{
	margin:0;
	padding:5px 10px;
	}

div#container{
	max-width:100%;
	margin:0 auto;
	}

div#info{
	float:right;
	width:80%;
	}

div#contact{
	float:left;
	width:20%;
	}

div#about{
	clear:both;
	width:100%;
	}